NODE_ENV=development
PORT=3000

# URL do frontend liberada no CORS
FRONTEND_URL=http://localhost:5173

# PostgreSQL local de dev
DATABASE_URL=

# Banco exclusivo para testes de ingtegração (será usado nas fases de testes).
DATABASE_URL_TEST="postgresql://pectus_user:pectus_password@localhost:5432/traqueoplastias_test?schema=public"
POSTGRES_USER=pectus_user
POSTGRES_PASSWORD=pectus_password 
POSTGRES_PORT=5432
POSTGRES_DB=pectus